<footer>
  <div class='contact-us'>
    <div class="flex flex-col">
      <h3 class="leading-none mb-1">{{trans('footer.title')}}</h3>
      <p>{{trans('footer.description')}}</p>
    </div>

    <salla-contacts></salla-contacts>
  </div>

  {# main footer #}
  <div aria-label="footer" class="footer-wrapper">
    <div class="inner-footer container">
      <div class="hidden md:block">
        <h3 class="mb-14">{{ trans('blocks.footer.pages_links') }}</h3>
				<salla-menu source="footer"></salla-menu>
      </div>

      <div class="store-info">
        <a href="{{ link('/') }}" class="">
          <img fetchpriority="high" loading="eager" class="w-[105px] h-[105px] object-contain" src="{{ store.logo }}"
            alt="{{ store.name }}">
        </a>

        {% if store.description %}
        <p class="max-w-sm leading-6 mb-4">
          {{ store.description|raw }}
        </p>
        {% endif %}

        <salla-social></salla-social>

        <div class="md:hidden footer-menu-mobile">
          <h3>{{ trans('blocks.footer.pages_links') }}</h3>
				  <salla-menu source="footer"></salla-menu>
        </div>

        <salla-apps-icons></salla-apps-icons>
      </div>

      <div class="hidden md:block">
        <salla-contacts></salla-contacts>
      </div>
    </div>

    <div class="container mt-5 flex justify-end">
      <salla-payments></salla-payments>
    </div>
  </div>

  <div class="copyright">{% hook copyright %}</div>
</footer>